body {
  display: flex;
  justify-content: center;
  margin: 4px;
  font-family: sans-serif;
}

.container {
  width: 900px;
}

.widget {
  background-color: white;
}

.widget-header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: sans-serif;
  height: 18px;
  padding-right: 0.5%;
}

.logo {
  background-image: url(https://cdn.taboola.com/static/f8/f89e1763-220d-4e09-ba69-9e040548fb7a.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 100%;
}

#articlesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 5px;
  list-style-type: none;
}

.article {
  width: 32.3%;
  height: fit-content;
}

.article-last-two {
    width: 49%;
}

.article-last-one {
    width: 100%;
}

.article-link {
  text-decoration: none;
  color: inherit;
}

.content {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer {
  color: #999999;
  display: flex;
  justify-content: start;
  font-size: 12px;
}

.separator {
  margin-left: 3px;
  margin-right: 3px;
}

.branding {
  font-weight: bold;
}

.title {
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  font-weight: bold;
  font-size: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
}

.article-media {
  aspect-ratio: 376.95 / 212.03;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 900px) {
  .article {
    width: 49%;
  }
}

@media (max-width: 600px) {
  .widget-header {
    padding-right: 0;
  }

  .article {
    width: 100%;
    margin-bottom: 32px;
  }

  .content {
    height: auto;
    justify-content: flex-start;
  }
}
